<div class = "providerCard">
  <!-- selected Providers -->
  <div *ngIf="inSelected" > 
    <button  (click)="removeFromSaved($event)" id={{provider.id}}>X</button>
    <ul class="providerWrapper">
      <li>Name: {{provider.name}} </li>
      <li>Address: {{provider.address}} </li>
      <li>Phone: {{provider.phone}} </li>
    </ul>
  </div>

  <!-- unselected Providers -->
  <ul *ngIf="!inSelected" (click)="addToSaved($event)" id={{provider.id}} class="providerWrapper"> 
    <li>Name: {{provider.name}} </li>
    <li>Address: {{provider.address}} </li>
    <li>Phone: {{provider.phone}} </li>
  </ul>
</div>