<div class="list-container">
  <div *ngIf="!showSaved" class="unselectedProvidersWrapper" >
    <h2>Available Providers</h2>
    <button class="toggleProviders" (click)="toggleProviderPage()">Show Saved Providers</button>
    <div class="unselectedProviders">
      <app-card *ngFor="let provider of unselectedProviders" [provider]="provider" [inSelected]=false 
        (notifyParent)="addToSaved($event)"
      ></app-card>
    </div>
  </div>
  
  <div *ngIf="showSaved" class="selectedProvidersWrapper">
    <h2>Saved Providers</h2>
    <button class="toggleProviders" (click)="toggleProviderPage()">Show Available Providers</button>
    <div class="selectedProviders">
      <app-card *ngFor="let provider of selectedProviders" [provider]="provider" [inSelected]=true 
      (notifyParent)="removeFromSaved($event)"
      ></app-card>
    </div>
  </div>

</div>
